


/* Font-family */
@font-face {
  font-family: 'rowdies';
  src: url('~@/assets/fonts/Rowdies/Rowdies-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'marzo';
  src: url('~@/assets/fonts/Marzo/FontsFree-Net-marzo.ttf') format('truetype');
}
@font-face {
  font-family: 'playfair';
  src: url('~@/assets/fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'bradon';
  src: url('~@/assets/fonts/Bradon/._Brandon_thin.otf') format('truetype');
}
@font-face {
  font-family: 'aboreto';
  src: url('~@/assets/fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'liontype';
  src: url('~@/assets/fonts/Liontype/Linotype_didot_roman.ttf') format('truetype');
}


/* Font-size */
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fs-64 {
  font-size: 64px;
}
.fs-72 {
  font-size: 72px;
}
.fs-100 {
  font-size: 100px;
}

/* Color */
.c_white {
  color: white;
}

.c_fbc_pink {
  color: #f1b1c1;
}

.c_fbc_pink_back {
  background-color: #f1b1c1;
}

.c_fbc_pink_back_low_opacity {
  background-color: rgba(241, 177, 193, 0.7);
}

/* Padding margin */
.pb-rem-1 {
  padding-bottom: 1rem;
}
.p-8 {
  padding: 8px;
}
.p-12 {
  padding: 12px;
}
.mb-rem-1 {
  margin-bottom: 1rem;
}
.m-12 {
  margin: 12px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-50 {
  margin-bottom: 50px;
}

/* Custom width and height */
.w-5 {
  width: 5%
}
.h-min-25 {
  min-height: 25px;
}
.h-min-50 {
  min-height: 50px;
}
.h-min-75 {
  min-height: 75px;
}

/* Not allow drag or select  */
.not_allow_select {
  /* not select */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* not drag */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Fit image inside the div tag */
.fit_image {
  width: 100%;
  text-align: center;
}

/* Make text in div center */
.text_center, .text_center_horizontal {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text_center {
  flex-direction: column;
}
.text_center_horizontal {
  flex-direction: row;
}



.hidden {
  display: none;
}

/* Debug board */
.debug {
  width: 200px;
  height: 400px;
  border: 2px black solid;
  background-color: white;
  position: fixed;
  right: 10px;
  z-index: 999;
}